<div id="articles" class="global-section">
    @@include('./header.html')
    <div class="section-banner">
        <div class="am-container">
            <a href="javascript:;" class="logo-white">
                <img src="img/logo-white.svg" alt="">
            </a>
            <h1 class="section-title">最新文章</h1>
        </div>
    </div>
    <div class="section-ctn">

    </div>
    <div class="footer">
        <div class="am-container">
            <div class="back-to-top" onclick="eval('document.getElementById('articles').scrollTop = 0')">
                回到顶部 <i class="am-icon-angle-up"></i>
            </div>
            <div class="am-g">
                <div class="am-u-md-4">
                    <h1 class="title">关于我们</h1>
                    <p><a href="https://developers.google.com/" target="_blank">Google Developers 官网</a></p>
                    <p><a href="http://www.njgdg.org/devfest/" target="_blank">南京 GDG DevFest 2014</a></p>
                </div>
                <div class="am-u-md-4">
                    <h1 class="title">联系我们</h1>
                    <p><a target="_blank" href="http://weibo.com/u/2627645705">微博</a></p>
                    <p><a target="_blank" href="http://mp.weixin.qq.com/mp/qrcode?scene=10000004&size=102&__biz=MjM5OTA5OTk1Nw==">微信</a></p>
                    <p>QQ群：230448398</p>
                </div>
                <div class="am-u-md-4">
                    <img src="img/qrcode.jpg" width="130" alt="南京GDG微信">
                </div>
            </div>
            <p class="copyright">© 2015 借鉴于 Project Hoverboard，由 Oleh Zasadnyy · GDG Lviv 设计，由 <a href="#">张杨</a> 开发</p>
        </div>
    </div>
</div>
