<div id="articles" class="global-section">

    @@include('./header.html')

    <div class="section-banner">
        <div class="am-container">
            <a href="#/" class="white-logo">
                <img src="img/logo-white.svg" alt="">
            </a>
            <h1 class="section-title">最新公告</h1>
        </div>
    </div>
    <div class="section-ctn">
        <div class="am-container">
            <ul id="articleList" class="article-list am-g">

            </ul>
        </div>
    </div>

    @@include('footer.html')
</div>
